* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(69, 106, 43);
}

.hidden {
    display: none;
}


.VS {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    .p1Side {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 40%;
        height: 100%;
        #p1Sheet {
            height: 50%;
        }
    }
    .versus {
        width: 1px;
        position: relative;
        .VSimg {
            position: absolute;
            left: -146px;
        }
    }
    .p2Side {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 40%;
        height: 100%;
        #p2Sheet {
            height: 50%;
        }
    }
    .characterImg {
        display: flex;
        flex-direction: column;
        #p1Img {
            height: 90%;
        }
    }
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
    &::-webkit-progress-bar {
    background-color: #eee;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
}


.actionBtns {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    .p1Btns {
        width: 40%;
    }
    .p2Btns {
        width: 40%;
    }
}
.battlelog {
    position: fixed;
    bottom: 0%;
    left: 25vw;
    height: 8vw;
    width: 50vw;
    overflow: auto;
    border: 2px solid rgb(102, 34, 34);
    background-color: rgba(223, 223, 130, 0.562);
    padding: 10px;
}


//Custom radio images:
.race_selector{
    input {
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:active +.raceSelect {
            opacity: .9;
        }
        &:checked +.raceSelect{
            -webkit-filter: none;
            -moz-filter: none;
            filter: none;
            background-color: rgba(255, 0, 0, 0.247);
            border-radius: 25%;
        }
    }
}

.raceSelect{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:60px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.1) grayscale(.9) opacity(.8);
       -moz-filter: brightness(1.1) grayscale(.9) opacity(.8);
            filter: brightness(1.1) grayscale(.9) opacity(.8);
}
.raceSelect:hover{
    -webkit-filter: brightness(1.2) grayscale(.2) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.2) opacity(.9);
            filter: brightness(1.2) grayscale(.2) opacity(.9);
            background-color: rgba(255, 0, 0, 0.247);
            border-radius: 25%;
}

.selectHuman{
    background-image: url(../assets/Human_small.gif);
}
.selectOrc{
    background-image: url(../assets/Orc_small.gif);
} 
.selectElf {
    background-image: url(../assets/Elf_small.gif);
}
.selectVampire {
    background-image: url(../assets/Vampire_small.gif);
}
// ENd of custom radio images.